{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}
    
    <div class="container">
    
        <div class="update-lieu">

            <h2>Modifier le lieu</h2>
            {{ include('lieu/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="buttons">
            
                <a class="btn btn-secondary" href="{{ path('app_lieu_index') }}">Retour</a>
                {{ include('lieu/_delete_form.html.twig') }}

            </div>

        </div>

    </div>
    
{% endblock %}
