{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}

    <div class="container">

        <div class="delete-lieu">
            <h1>Lieu</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ lieu.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ lieu.nom }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <a class="btn btn-primary" href="{{ path('app_home') }}">Retour</a>
                {{ include('lieu/_delete_form.html.twig') }}
            </div>


        </div>

    </div>

{% endblock %}
