@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
}

header {
    background-color: #172A3A;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.add-releve, .update-releve, .delete-releve, .add-lieu, .update-lieu, .delete-lieu {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
}

.btn-primary {
    background-color: #172A3A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #0B1822;
}

.btn-primary:focus {
    outline: none;
    background-color: #0B1822;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1vw;
}
